@import "tailwindcss";

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }
}
